{% extends 'base.html' %}
{% block content %}
    <!-- Sequence Modern Slider -->
    <div id="da-slider" class="da-slider" style="top:1px;">

            <div class="da-slide">
            <div class="container">
              <div class="row">
                <div class="col-md-12">
              <h2>
                <i>MANAGE THE</i>
                <br>
                <i>DOCTORS</i>
                <br>
                <i>APPOINTMENTS</i>
              </h2>
              <p>
                <i>A complete solution</i>
                <br />
                <i>for doctors appointments</i>
              </p>
              <a href="#" class="btn btn-info btn-lg da-link">
				  Read more
				</a>
              <div class="da-img">
                <img src="/assets/img/parallax-slider/images/1.jpg" alt="image01" style="height:300px"/>
              </div>
            </div>
          </div>
        </div>
      </div>


            <div class="da-slide">
            <div class="container">
        <div class="row">
          <div class="col-md-12">
        <h2>
          <i>PATIENT</i>
            <br />
          <i>INFORMATIONS AND</i>
            <br />
          <i>MANAGEMENT</i>
        </h2>
        <p>
          <i>Management of</i>
            <br />
          <i>patient informations</i>
        </p>
        <a href="#" class="btn btn-info btn-lg da-link">
          Read more
        </a>
        <div class="da-img">
          <img src="/assets/img/parallax-slider/images/2.jpeg" alt="image01" style="height:300px"/>
        </div>
      </div>
          </div>
        </div>
      </div>


      <div class="da-slide">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
        <h2>
          <i>ONLINE</i>
            </br>
          <i>APPOINTMENTS AND</i>
            </br>
          <i>USER MANAGEMENT</i>
        </h2>
        <p>
          <i>Lorem ipsum dolor amet</i>
          <br />
          <i>tempor incididunt ut</i>
          <br />
          <i>veniam omnis </i>
        </p>
        <a href="#" class="btn btn-info btn-lg da-link">
          Read more
        </a>
        <div class="da-img">
          <img src="/assets/img/parallax-slider/images/3.jpg" alt="image01" style="height:300px"/>
        </div>
      </div>
      </div>
      </div>
      </div>

      <nav class="da-arrows">
        <span class="da-arrows-prev">
        </span>
        <span class="da-arrows-next">
        </span>
      </nav>
    </div>


    <div class="container">
      <div class="row mar-b-30">
        <div class="col-md-12">
          <div class="text-center feature-head wow fadeInDown">
            <h1 class="" style="margin:30px;">
              Welcome to Employee Management System
            </h1>

          </div>


          <div class="feature-box">
            <div class="col-md-4 col-sm-4 text-center wow fadeInUp">
              <div class="feature-box-heading">
                <em>
                <img src="/assets/img/parallax-slider/images/1.jpg" alt="" style="width:350px; height:180px;">

                </em>
                <h4>
                  <b>Employee Management System</b>
                </h4>
              </div>
              <p class="text-center">
                A health club (also known as a fitness club, fitness center, health spa, and commonly referred to as a gym) is a place.
              </p>
            </div>
            <div class="col-md-4 col-sm-4 text-center wow fadeInUp">
              <div class="feature-box-heading">
                <em>
                  <img src="/assets/img/parallax-slider/images/2.jpeg" alt="" style="width:350px; height:180px;">
                </em>
                <h4>
                  <b>User Management System</b>
                </h4>
              </div>
              <p class="text-center">
                >Most health clubs have a main workout area, which primarily consists of free weights including dumbbell.
              </p>
            </div>
            <div class="col-md-4 col-sm-4 text-center wow fadeInUp">
              <div class="feature-box-heading">
                <em>
                  <img src="/assets/img/parallax-slider/images/3.jpg" alt="" style="width:350px; height:180px;">
                </em>
                <h4>
                  <b>Employee Management System</b>
                </h4>
              </div>
              <p class="text-center">
                This area often includes mirrors so that exercisers can monitor and maintain correct posture.
              </p>
            </div>
          </div>

          <!--feature end-->
        </div>
      </div>
    </div>


    <!--property start-->
    <div class="property gray-bg">
      <div class="container">
        <div class="row">
          <div class="col-lg-6 col-sm-6 text-center wow fadeInLeft">
            <img src="/assets/img/p3.jpg" alt="" style="height:335px">
          </div>
          <div class="col-lg-6 col-sm-6 wow fadeInRight">
            <h1>
              About Employee Management System
            </h1>
            <hr>
			  <p>A health club (also known as a fitness club, fitness center, health spa, and commonly referred to as a gym) is a place which houses exercise equipment for the purpose of physical exercise.</p>
			  <p>Most health clubs have a main workout area, which primarily consists of free weights including dumbbells, barbells and exercise machines. This area often includes mirrors so that exercisers can monitor and maintain correct posture during their workout. A gym that predominantly or exclusively consists of free weights (dumbbells and barbells), as opposed to exercise machines, is sometimes referred to as a black-iron gym, after the traditional color of weight plates</p>
            <hr>
          </div>
        </div>
      </div>
    </div>
    <!--property end-->
    <script type="text/javascript" src="/assets/js/parallax-slider/jquery.cslider.js"></script>
	<script type="text/javascript">
		  $(function() {

			$('#da-slider').cslider({
			  autoplay    : true,
			  bgincrement : 100
			});

		  });
	</script>
  {% endblock content %}

